html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width: 100px;
    display: block;
}

.logo__img {
    width: 200px;
}




img {
    max-width: 100%;
}

body {
    margin: 0px;
    background-image: url(https://kartinki.pics/uploads/posts/2021-04/1617302238_17-p-svetlii-fon-dlya-saita-19.png);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: #041C62;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}




.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    font-family: montserrat;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
}

.menu__link:hover {
    color: #ffffff;
}

@media (max-width: 992px) {
.img-krak {
    border-radius: 20px;
}
    .cont-o {
        border-radius: 20px;
    }
    .header__burger-btn {
        display: block;
    }
    .menu {
        position: absolute;
        left: -250px;
        top: 0;
        width: 250px;
        background-color: #041C62;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
    }
    .menu__list {
        display: block;
    }
    .menu__link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }
    .header.open .menu {
        transform: translateX(100%);
    }
}

.main_container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_box {
    padding-top: 2em;
    max-width: 600px;
}


.main_text {
    font-size: 70px;
    font-family: montserrat;
    font-weight: 700;
    line-height: 100px;
    color: #041C62;
}

.main_photo {
    margin-top: 4em;
    pointer-events: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.main_button {
    width: 70%;
    height: 74px;
    background-color: #041C62;
    font-size: 23px;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    border: 0px;
    transition: box-shadow 0.3s linear;
}


.main_button:hover {
    -webkit-box-shadow: 0px 5px 20px -5px rgba(4, 28, 98, 0.6);
    -moz-box-shadow: 0px 5px 20px -5px rgba(4, 28, 98, 0.6);
    box-shadow: 0px 5px 20px -5px rgba(4, 28, 98, 0.6);
}











































.slideshow-container {
    max-width: 1200px;
    padding: 0 15px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
      display: none;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



.top {
    margin-top: 10em;
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}


.slide_photo {
    pointer-events: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.top_text {
    font-size: 40px;
    line-height: 50px;
    color: #505050;
    font-family: montserrat;
    font-weight: 700;
}

.information_container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
.information_paragraph {
    color: #505050;
    font-size: 24px;
    line-height: 50px;
    font-weight: 600;
    font-family: montserrat;
}


























#collage {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    width: calc(33.33% - 20px);
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
  }

  .image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }

  .image-container:hover img {
    transform: scale(1.1);
  }

  h1 {
    font-family: montserrat;
    color: #fff;
    width: 90%;
    padding-top: 30px;
    margin: auto;
    text-align: center;
  }


.footer {
    background-color: #041C62;
    width: 100%;
    height: auto;
}


.footer_container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}


.footer_text {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-family: montserrat;
}
  

.input {
    width: 400px;
    height: 50px;
    background-color: #041C62;
    border: 2px solid #fff;
    border-radius: 40px;
    padding-left: 20px;
    font-size: 20px;
    color: #fff;
    transition: outline-color 0.3s ease;
}

.input:focus {
    outline-color: #aaaaaa;
}
.input::-webkit-input-placeholder {
    color: #aaaaaa;
}

.input:-moz-placeholder {
    color: #aaaaaa;
}

.input::-moz-placeholder {
    color: #aaaaaa;
}

.input:-ms-input-placeholder {
    color: #aaaaaa;
}

.footer_box {
    display: block;
}

.footer_button {
    width: 400px;
    height: 50px;
    background-color: #041C62;
    border: 2px solid #fff;
    border-radius: 40px;
    padding-left: 20px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
}
.footer_button:hover {
    background-color: #fff;
    color: #000;
}
.footer_img {
    pointer-events: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media (max-width:1180px) {
    .main_container {
        text-align: center;
        justify-content: center;
    }
    .footer_container {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .input {
        width: 80%;
    }
    .footer_button {
        width: 80%;
    }
}

@media (max-width:635px) {
    .main_text {
        font-size: 40px;
        line-height: normal;
        padding-top: 50px;
    }
    .top_text {
        font-size: 30px;
    }
}

@media (max-width:355px) {
    .main_text {
        font-size: 30px;
        line-height: normal;
        padding-top: 50px;
    }
    .top_text {
        font-size: 20px;
    }
}


#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    background-color: #041C62;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
  }
  #scrollToTopBtn:hover {
    background-color: #092fa1;
  }
  
  #scrollToTopBtn.show {
    display: block;
  }








  